spring:
  application:
    name: twm-portfolio-service
server:
  port: 40037

warehouse:
  load: false


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:2012/eureka/

feign:
  client:
    config:
      default:
        connectTimeout: 10000 #milliseconds
        readTimeout: 10000

logging:
  level:
    .: info