spring:
  application:
    name: twm-portfolio-service
  cloud:
    compatibility-verifier:
      enabled: false
server:
  port: 40037

warehouse:
  load: false
  look-back-years: 5
  benchmark-start-date: 20191210
  benchmark-ticker: CM.TO

locations:
  outdated-symbols: /var/mkt-data-outdated-symbols.txt
  imnt-max-weights: /var/mkt-data-imnt-max-weights.txt
  market-transactions-buy: /var/mkt-data-b.txt
  market-transactions-sell: /var/mkt-data-s.txt
  market-transactions-div-tfsa: /var/mkt-data-div-t.txt
  market-transactions-div-nr: /var/mkt-data-div-n.txt
  market-transactions-div-fhsa: /var/mkt-data-div-f.txt

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:2012/eureka/

feign:
  client:
    config:
      default:
        connectTimeout: 10000 #milliseconds
        readTimeout: 10000

logging:
  level:
    root: info